<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691123559654-3ndov4c8m6hh2etapr6jki0lqo9fuua8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691123559654-3ndov4c8m6hh2etapr6jki0lqo9fuua8</string>
	<key>API_KEY</key>
	<string>AIzaSyA-zlJL37l1-Dm3nRMcT0RuF1ykx40fIpo</string>
	<key>GCM_SENDER_ID</key>
	<string>691123559654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasanguzelmansur.ePark</string>
	<key>PROJECT_ID</key>
	<string>epark-96320</string>
	<key>STORAGE_BUCKET</key>
	<string>epark-96320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691123559654:ios:a761e3b203a2c59959ef27</string>
</dict>
</plist>